a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

body              
{ 
	background: white; 
    color: black; 
    margin-top: 1cm; 
    margin-bottom: 1cm;
    margin-left: 1.5cm; 
    margin-right: 1.5cm; 
}

h1                
{ 
	font-family: helvetica; 
    font-size: 180%; 
    color: darkblue;
    margin-top: 2em; 
}

h2                
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 120%; 
    margin-top: 2em; 
    color: #000000;
}

h3
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 120%; 
    margin-top: 2em;
    color: #000000;
}

table             
{ 
	width: auto; 
    border: none; 
}

th
{
	padding: 5px;
    padding-left: 8px; 
    padding-right: 8px;  
    vertical-align: top; 
	text-align: left; 
    border: none; 
}

td                
{ 
	padding: 5px; 
    padding-left: 8px; 
    padding-right: 8px;  
    vertical-align: top; 
    border: none; 
}


.basic 
{
	margin-top: 1.0cm; 
    margin-bottom: 1.0cm;
    margin-left: 220px; 
    margin-right: 1.5cm;
	background-image: url(/web/20241105041606im_/http://www.bergabrassband.se/leftmenu.jpg);
    background-repeat: repeat-y;
	font-family: Verdana;
}

.standard 
{
	margin-top: 1.0cm; 
    margin-bottom: 1.0cm;
    margin-left: 1.5cm; 
    margin-right: 1.5cm;
	font-family: Verdana;
}

.basic .menu 
{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    padding-top: 1.0cm;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
	color: White;
}

.basic .menu h1                
{ 
    color: white;
}

.basic .menu h2                
{ 
    color: white;
}

.basic .menu h3
{ 
    color: white;
}

.basic .menu a
{
	color: White;
	text-decoration: none;
}

.basic .menu a:hover
{
	color: White;
	text-decoration: underline;
}

#logo
{
	margin-top: 0; 
    font-size: 250%; 
 	text-align: center; 
    color: #000; 
	font-variant: small-caps;
}
.slogan 
{
	margin-top: 1em; 
	text-align: center; 
    color: #777;
    font-family: Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
}

ul.links 
{
	margin-left: 0px;
    list-style: none;
}

table.border      
{ 
	border-style: solid;
    border-width: 1px;
    border-color: black; 
    border-collapse: collapse; 
}

table.border th   
{
	border-style: solid;
    border-width: 1px;
    border-color: darkgray; 
}

table.border td   
{ 
	border-style: solid;
    border-width: 1px;
    border-color: darkgray; 
}

.footer           
{ 
	font-size: smaller; 
    margin-top: 1cm;
}

.box           
{ 
    margin-top: 1cm;
    margin-bottom: 1cm;
	background: #fffff5; 
    padding: 0.3cm; 
    border-style: solid; 
    border-width: 1px; 
}

.box h1
{
    margin-top: 0; 
}

.box h2
{
    margin-top: 0; 
}

.box h3
{
    margin-top: 0; 
}

/*
     FILE ARCHIVED ON 04:16:06 Nov 05, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:17:17 Oct 01, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.362
  load_resource: 2968.432
  PetaboxLoader3.resolve: 2856.137
  PetaboxLoader3.datanode: 38.467 (2)
  loaddict: 95.11
*/