#bakgrund1 {
	BACKGROUND-IMAGE: url(/web/20241104031230im_/http://www.bergabrassband.se/Images/bgrexcal3.gif)
}
#bakgrund2 {
	BACKGROUND-COLOR: #000000
}
#bakgrund3 {
	BACKGROUND-COLOR: #eef2ef
}
#bakgrund4 {
	BACKGROUND-COLOR: #ebebf1
}
#bakgrund5 {
	BACKGROUND-IMAGE: url(/web/20241104031230im_/http://www.bergabrassband.se/Images/fotoalbum.gif)
}
#bakgrund6 {
	BACKGROUND-IMAGE: url(/web/20241104031230im_/http://www.bergabrassband.se/Images/fotoalbum2.gif)
}
#RubrikMain {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: times new roman
}
#RubrikMain2 {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: times new roman
}
#Rubrik1 {
	FONT-WEIGHT: bold; FONT-SIZE: 23px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: times new roman
}
#Rubrik2 {
	FONT-SIZE: 20px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: times new roman
}
#Text1 {
	FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: arial
}
#Text11 {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: arial
}
#Text1if {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0000ff; FONT-STYLE: italic; FONT-FAMILY: arial
}
#Text2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial
}
#Text3 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: arial
}
#Text3i {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: arial
}
#Text3if {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0000ff; FONT-STYLE: italic; FONT-FAMILY: arial
}
#Text13 {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: arial
}
#Text13i {
	FONT-SIZE: 18px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: arial
}
#Text13B {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: arial
}
#Text1A {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: arial
}
#Text2A {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial
}
#Text2AB {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial
}
#Text3A {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: arial
}
#footer2 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: arial
}
UNKNOWN {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #c0c0c0; FONT-STYLE: italic; FONT-FAMILY: times new roman
}
#Rubrik5 {
	FONT-SIZE: 18px; COLOR: #c0c0c0; FONT-STYLE: italic; FONT-FAMILY: times new roman
}
#Text4 {
	FONT-SIZE: 15px; COLOR: #c0c0c0; FONT-FAMILY: arial
}
#Text5 {
	FONT-SIZE: 12px; COLOR: #c0c0c0; FONT-FAMILY: arial
}
#Text6 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #c0c0c0; FONT-FAMILY: arial
}
#Text7 {
	FONT-SIZE: 18px; COLOR: #c0c0c0; FONT-FAMILY: arial
}
#Text8 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #c0c0c0; FONT-FAMILY: arial
}
#footer {
	FONT-SIZE: 10px; COLOR: #c0c0c0; FONT-FAMILY: arial
}

/*
     FILE ARCHIVED ON 03:12:30 Nov 04, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:17:17 Oct 01, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.313
  load_resource: 2831.205
  PetaboxLoader3.resolve: 2779.621
  PetaboxLoader3.datanode: 34.206 (2)
  loaddict: 37.017
*/